[toolchain]
anchor_version = "0.32.1"

[features]
seeds = false
skip-lint = false

[programs.localnet]
rafflebot = "HPwwzQZ3NSQ5wcy2jfiBF9GZsGWksw6UbjUxJbaetq7n"

[programs.devnet]
rafflebot = "HPwwzQZ3NSQ5wcy2jfiBF9GZsGWksw6UbjUxJbaetq7n"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
