@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ededed;
  --background: #0d1117;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, sans-serif;
}

/* Wallet adapter styles override */
.wallet-adapter-button {
  background-color: #9945ff !important;
}

.wallet-adapter-button:hover {
  background-color: #7c3aed !important;
}
